@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #360300;
}

@theme {
  --color-searchBarGray: #29292f;
  --color-cardGray: #1a1a1a;
  --color-hero: #070000;
  --color-bgRed: #360300;
  --color-TrendingColor1: #1a1a1a;
  --color-TrendingColor2: #1c1c1d;
  --color-TrendingDateColor: #2a2a2a;
  --color-TrendingRed: #f3352a;
  --color-background: #070119;
  --color-yellow: #e0c24a;
}

@keyframes custom-ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
    filter: blur(5px);
  }
}

.animate-ping-twice {
  animation: custom-ping 1s cubic-bezier(0, 0, 0.2, 1) 2;
}
